li a {
    color: blue;
}

body
   {
   font-family:sans-serif;
   }
   

   
.tabler {
  margin-top: 20px;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

/*   width: 100%; */

.tabler,
.tabler th,
.tabler td {
  border: none;
  text-align: left;
  padding: 3px;
  font-size: 95%;
}

.tabler th {text-align: center; background-color: #ddddff}

.tabler tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.tabler tr:hover:nth-child(even) {
  background-color: #ddddff
}

.tabler tr:hover {
  background-color: #ddddff
}

/*
We can add more styles, see: https://docs.djangoproject.com/en/1.9/intro/tutorial06/

body {
    background: white url("images/background.gif") no-repeat right bottom;

NOTE:  You should always use relative paths to link your static files between each other, because then you can change STATIC_URL (used by the static template tag to generate its URLs) without having to modify a bunch of paths in your static files as well.
}
*/
