{# % extends 'gendep/base.html' % #}
{% load staticfiles %}
{% block links_top %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script -->
  <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
{% endblock %}
{% block scripts %}
<style type="text/css">
  body { 
      font: 12px helvetica neue, helvetica, arial, sans-serif;
    }
	
    #cy {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
</style>

<script type="text/javascript">
 $(function() { // on dom ready

    $('#cy').cytoscape({
	
        layout: {
            name: 'cose',
            idealEdgeLength: 30,
            nodeOverlap: 20,
			useMultitasking: true,
			fit: true
        },
		zoom: 2,
		minZoom: 0.5,
        maxZoom: 5,
		pan: { x: 0, y: 0 },
		/* motionBlur: true, */
		wheelSensitivity: 0.2,
        style: cytoscape.stylesheet()
            .selector('node')
            .css({
				'shape': 'ellipse',
				'width': 40,
				'height': 40,
			    'background-color': '#004279',
                'content': 'data(name)',					
                'text-valign': 'center',
				'font-size': '12px',
                'color': 'white',
                'text-outline-width': 2,
                'text-outline-color': '#888'
        })
            .selector('edge')
            .css({
			    'curve-style': 'haystack',  /* haystack are fast to draw */
				'haystack-radius': '0.1',
				'opacity': '0.4',
				'width': '2',
                'line-color': 'green'
        })	
            .selector(':selected')
            .css({
                'background-color': 'black',
                'line-color': 'black',
                'target-arrow-color': 'black',
                'source-arrow-color': 'black'
        })
            .selector('.faded')
            .css({
                'opacity': 0.25,
                'text-opacity': 0
        }),

elements: {
  nodes: [
{% for node in node_list %}  {data: {id: '{{ node }}', name: '{{ node }}'} }{% if not forloop.last %},{% endif %}
{% endfor %} ],
  edges: [
{% for edge in edge_list %}  {data: { source: '{{ edge.0 }}', target: '{{ edge.1 }}'} }{% if not forloop.last %},{% endif %}
{% endfor %} ]
},

            ready: function() {
                window.cy = this;

                // giddy up...

                cy.elements().unselectify();

                cy.on('tap', 'node', function(e) {
                    var node = e.cyTarget;
                    var neighborhood = node.neighborhood().add(node);

                    cy.elements().addClass('faded');
                    neighborhood.removeClass('faded');
                });

                cy.on('tap', function(e) {
                    if (e.cyTarget === cy) {
                        cy.elements().removeClass('faded');
                    }
                });
            }

        });

    }); // on dom ready
</script>	
{% endblock %}

{% block content %}
<p>Cytoscape proteins and connections.....</p>
  <div id="cy"></div>
{% endblock%}
