{% extends 'gendep/base.html' %}
{% load staticfiles %}
{% block content %}
<p>Details of driver genes investigated:</p>
{% endblock %}
{% block table %}
<table cellpadding="3" class="tabler"> <!-- style="border: 1px solid blue;" -->
<thead><tr><th>Driver gene</th><th>Full name</th><th>Synonyms</th><th>Num studies</th><th>Num tissues</th><th>Num targets</th><th>External links</th></tr></thead>
<tbody>
{% for driver in driver_list %}
<tr>
<td><a href="{% url 'gendep:home_search_by_gene' search_by='driver' gene_name=driver.gene_name %}">{{ driver.gene_name }}</a></td>
<td>{{ driver.full_name }}</td>
<td><font size="-1">{{ driver.prev_names_and_synonyms_spaced }}</font></td>
<td style="text-align:center"><a class="tipleft" href="javascript:void(0);">{{ driver.driver_num_studies }}<span>PubMed Ids: {{ driver.driver_study_list }}</span></a></td>
<td style="text-align:center"><a class="tipleft" href="javascript:void(0);">{{ driver.driver_num_histotypes }}<span>{{ driver.driver_histotype_list_full_names }}</span></a></td>
<td style="text-align:center">{{ driver.driver_num_targets }}</td>
<td><font size="-2">{{ driver.external_links|safe }}</font></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
