{% extends 'gendep/base.html' %}
{% load staticfiles %}
{# For defining template blocks see: https://docs.djangoproject.com/en/1.9/ref/templates/language/ #}
{% block links_top %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" class="ui-theme" />

  <!-- link rel="stylesheet" href="{% static 'gendep/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css' %}" class="ui-theme" / -->
  
  <link rel="stylesheet" href="{% static 'gendep/tablesorter/css/theme.blue.min.css' %}" class="theme blue" />
    
  <link rel="stylesheet" href="{% static 'gendep/fancybox/source/jquery.fancybox.css' %}" type="text/css" />
  <!-- link rel="stylesheet" href="{ % static 'gendep/qtip/jquery.qtip.min.css' % }" type="text/css" /-->
  
  <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- OR: script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js" -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

{# OR when running my laptop offline, temporarily using these local files instead of the above google server ones: #}
{% comment %}
  <script type="text/javascript" src="{% static 'gendep/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'gendep/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
{% endcomment %}

{% comment%}
  <!-- DataTables -->  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/ju/jqc-1.12.0,dt-1.10.11,sc-1.4.1,se-1.1.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/t/ju/jqc-1.12.0,dt-1.10.11,sc-1.4.1,se-1.1.2/datatables.min.js"></script>
{% endcomment %}  

{% comment %}
  <!-- or local datatables when my computer is off internet -->
  <link rel="stylesheet" type="text/css" href="{% static 'gendep/datatables/datatables.min.css' %}"/>
  <script type="text/javascript" src="{% static 'gendep/datatables/datatables.min.js' %}"></script>
{% endcomment %}


  <!-- Size of script from: http://code.stephenmorley.org/javascript/finding-the-memory-usage-of-objects/ -->
  <script type="text/javascript" src="{% static 'gendep/sizeof.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'gendep/cgdd_functions.js' %}"></script>  
{% endblock %}
{% block scripts %}
<style type="text/css">
    .jsAction {
        cursor: pointer;
        color: #00f;
        text-decoration: underline;
    }
</style>

<script type="text/javascript">


// Optimising the javascript, good artticle: https://www.smashingmagazine.com/2012/11/writing-fast-memory-efficient-javascript/
// eg start chrome with: -user-data-dir <empty_directory>

 

// Using this preloaded array gives faster response than AJAX call - but in future the driver list may grow too big to preload quickly.
// The 'label' needs to contain the gene_name as it is the label that is searched for the characters pressed. Maybe add a separate description field.
// var global_search_by = ''; 
var global_selected_gene = ''; // The currently selected driver/target gene name, eg. ERBB2 
var global_selected_gene_info = ''; // The gene external ids

// var global gene_info
var dependency_array = [];

var global_url_for_dependency_search = "{% url 'gendep:get_dependencies' search_by='mysearchby' gene_name='mygene' histotype_name='myhistotype' study_pmid='mystudy' %}";
var global_url_for_download_csv = "{% url 'gendep:download_csv' search_by='mysearchby' gene_name='mygene' histotype_name='myhistotype' study_pmid='mystudy' %}";
var global_url_gene_info_for_mygene = "{% url 'gendep:get_gene_info' gene_name='mygene' %}"; // replace 'mygene' with gene name of interest.
var global_url_for_mystudy = "{% url 'gendep:show_study' study_pmid='mystudy' %}"; // replace mystudy with pmid for the study

var global_url_static_image_dir = "{% static 'gendep/images/' %}";
var global_url_static_boxplot_dir = "{% static 'gendep/boxplots/' %}";

var global_url_for_stringdb_networkList = "http://string-db.org/api/image/networkList?network_flavor=confidence&required_score=700&identifiers="; // confidence (single lines) rather than evidence (multiple coloured lines)

var global_url_for_stringdb_one_network = "http://string-db.org/api/image/network?network_flavor=confidence&required_score=700&identifier="; // network and identifier
var global_max_stringdb_proteins_ids = 350; // Max number of ensembl_protein_ids that fit into the GET query. Maybe if set species and not use the "9606." then should allow a few more. (can actually sent 353 if paste into the url)

var experimenttype_array = [
   {% for experimenttype in experimenttype_list %} {value: "{{ experimenttype.0 }}" },
   {% endfor %}
];
  
var driver_array = [
   {% for driver in driver_list %} {value: "{{driver.gene_name}}", label: "{{driver.gene_name}} | {{ driver.prev_names_and_synonyms_spaced }}", synonyms_spaced: "{{ driver.prev_names_and_synonyms_spaced }}", full_name: "{{driver.full_name}}"},
   {% endfor %}
];

var target_array = [
   {% for target in target_list %} {value: "{{target.gene_name}}", label: "{{target.gene_name}} | {{ target.prev_names_and_synonyms_spaced }}", synonyms_spaced: "{{ target.prev_names_and_synonyms_spaced }}", full_name: "{{target.full_name}}"},
   {% endfor %}
]; // Only populated by AJAX if user selects sets the 'search_by' to 'target'


var gene_info_cache = {}; // To cache gene_info retrieved by AJAX call for the tooltips, to save having to call it again
// Ajax with default cache: true option should cache these json GET requests anyway.
 
// Could use a study hash:
//var study_array =[
//   {#% for study in study_list %#}
// .....
//   {#% endfor %#}
//]
// But probably faster using a switch statement as just four studies:
function study_info(pmid) {
  switch (pmid) {
   {% for s in study_list %}
   case "{{s.pmid}}": return([ "{{s.short_name}}", "{{s.experiment_type}}", "{{s.summary}}", '"{{s.title}}", {{s.authors|slice:"0:30"}}....et al, <i>{{s.journal}}, {{s.pub_date}}</i>' ]); // break;
   {% endfor %}
   default: return([ "Error: Study Not Found", "Error: Study Not Found", "Error: Study Not Found", "Error: Study Not Found" ]);
  }
}  

// A dictionary might be faster:
function histotype_display(histotype) {
  switch (histotype) {
	{% for histotype in histotype_list %}
    case "{{ histotype.0 }}": return "{{ histotype.1 }}";// break;
	{% endfor %}
   default: return('Error: Histotype Not Found');
  }
}

//function study_link(pmid) {
//
//}
//
//function study_summary(pmid) {}

//function gene_info(gene_name) {
//    var url = global_url_gene_info_for_mygene.replace('mygene',gene_name);	
//}



//         'height': 800,
//        width: 1000,
//        'autoSize': false,
//        'autoDimensions': false,
//        'hideOnContentClick': false,


//        'helpers': {
//            'title': {
//                'type': 'inside'
//            },
//            'overlay': {
//                'showEarly': false
//            }
//        }
// fitToView: false, // add this

$(document).ready(function() {

    // Alternative tables: jqgrid: http://www.jqwidgets.com/jquery-widgets-demo/demos/jqxgrid/index.htm#demos/jqxgrid/deferredscrolling.htm
	
	// Datatables: http://www.datatables.net/index
	
	// backgrid.js: http://backgridjs.com/
    // and React.js:  https://react.rocks/tag/DataTable
	// http://zippyui.com/react-datagrid/#/
    // jEasyUI: http://www.jeasyui.com/tutorial/datagrid/datagrid27_demo.html

	
	$("#result_table").tablesorter({
	    // For diocs see: https://mottie.github.io/tablesorter/docs/
		// https://mottie.github.io/tablesorter/docs/#methods
		// Ajax example: https://mottie.github.io/tablesorter/docs/example-ajax.html
		// **** GOOD - adding tooltips to table column headings                   
		
	    // size: 20, // Set initial number of visible rows. This value is changed by the dropdown selector targeted by the cssPageSize option.
        // debug: true, // to output debug info to the firebug console.
		showProcessing: true,
		delayInit: true, // "Setting this option to true will delay parsing of all table cell data until the user initializes a sort. This speeds up the initialization process of very large tables, but the data still needs to be parsed, so the delay is still present upon initial sort."
        // removeRows: true, // "remove rows from the table to speed up the sort of large tables. Setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled."

		theme: 'blue',
		widgets: ["filter", "scroller"], // "zebra",    // removed the zebra row colouring as might be making table slow - see: https://github.com/Mottie/tablesorter/issues/273  So the zebra effect can be in the CSS instead.
		widgetOptions: {
            // zebra: ["even", "odd"],
			scroller_height: 400,  // default is 300
			filter_functions: {
                // Note that only the normalized (n) value will contain numerical data
                // If you use the exact text, you'll need to parse it (parseFloat or parseInt)
				// These column indexes are zero-based, and must correspond with the 'wilcox_p' column position in the "populate_table()" javascript function
                1 : {
                    "&le; 0.05"   : function(e, n, f, i) { alert(e); return n <= 0.05; },
                    "&le; 0.01"   : function(e, n, f, i) { alert(n); return n <= 0.01; },
                    "&le; 5 x 10<sup>-3</sup>"  : function(e, n, f, i) { return n <= 0.005; },
	                "&le; 1 x 10<sup>-3</sup>"  : function(e, n, f, i) { return n <= 0.001; },
	                "&le; 5 x 10<sup>-4</sup>" : function(e, n, f, i) { return n <= 0.0005; },
	                "&le; 1 x 10<sup>-4</sup>" : function(e, n, f, i) { return n <= 0.0001; }	
                }				
				// 5 : {.....experimenttype_array},
            }

// Add 'Any' as option for interaction column (in addition to Medium/High/Highest and unfiltered)

        },  // widgetOptions maybe need to be after the widgets: [...] line.
		sortInitialOrder: "asc", // default sort order
		sortRestart: true, // so sort always restarts from the specified sortInitialOrder.
		sortStable: true,
		ignoreCase: true,  // so sorting ignores case
		filter_ignoreCase: true, // so filtering ignores case
	})
	.bind('filterEnd', function(e, filter){
       $("#string_link").html("String image - " + ($('#result_table tbody tr:visible').length-1)+" rows <font size='-2'>(max: "+global_max_stringdb_proteins_ids+")</font>"); // the -1 is because of the filter widget row
    });
	

	
	;
	
   // From: https://jqueryui.com/tooltip/#custom-content
/*
   In style.css can set:
   
   .ui-tooltip {
    max-width: 350px;
  }
*/
    //$( document ).tooltip({
	$('#result_table_tbody').tooltip({
      //items: "img, [title]",
	  items: "[gene], [exptype], [study]",
	  // track:true,
	  show: false, //{ effect: "", duration: 0, delay: 0},
	  hide: false, // { effect: "", duration: 0, delay: 0}, // see: http://webduos.com/tooltip-using-jquery-ui-library/#.Vvb48uKLSih
      track: true, // follows mouse
	  position: {
        my: "center bottom-20", // was bottom-20, but used arrow's css to make arrow slightly taller
        at: "center top",
	    using: function( position, feedback ) {
          $( this ).css( position );
          // The arrow is in wrong place when the text is wider than the tooltip box.
		  
		  $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
	  },
	  
      content: function(callback) {  // note the 'callback' which is called below with the data.
	  
	  // See: http://html5beta.com/jquery-2/a-little-guide-about-jqueryui-tooltip-ajax-callback/
	  // $(document).tooltip({
      //   items:'#lists .table a.btn-preview',
      //   tooltipClass:'preview-tip',
      //   position: { my: "left+15 top", at: "right center" },
      //   content:function(callback) { //callback
      //      $.get('preview.php',{}, function(data) {
      //      callback(data); //call the callback function to return the value
      //      });
      //   },
      // });
      // More info: https://forum.jquery.com/topic/using-jquery-ui-tooltip-with-dynamic-ajax-content-on-click-instead-of-hover
	  
	  // For tooltip styling, see: https://jqueryui.com/tooltip/#custom-style
        var element = $( this );
        if ( element.is( "[gene]" ) ) {
          var gene_name = element.attr("gene");  // was: = element.text();
		  if (gene_name in gene_info_cache) {
			var result = format_gene_info_for_tooltip(gene_info_cache[gene_name]);
			callback(result);
			}
		  else {
            var url = global_url_gene_info_for_mygene.replace('mygene',gene_name);
            $.ajax({
              url: url,              // data: 'button=' + $(this).val(), // Optional
              dataType: 'json', 
            })
            .done(function(data, textStatus, jqXHR) {  // or use .always(function ..... see: http://stackoverflow.com/questions/13175268/ajax-content-in-a-jquery-ui-tooltip-widget
			// data = JSON.parse(json) ? // but maybe already parsed? which should Parses a string containing JSON and returns the de-serialized object.
//console.log(data);
			// data = $.parseJSON(json); //"The JSON standard does not permit "control characters" such as a tab or newline. An example like $.parseJSON( '{ "testing":"1\t2\n3" }' ) will throw an error in most implementations because the JavaScript parser converts the string's tab and newline escapes into literal tab and newline; doubling the backslashes like "1\\t2\\n3" yields expected results. This problem is often seen when injecting JSON into a JavaScript file from a server-side language such as PHP."

              if (data['success']) {
			  	gene_info_cache[gene_name] = data; // cache result so can retrieve it faster in future.
			    result = format_gene_info_for_tooltip(data);							
			    callback(result);  // return "Success";
				}
			  else {callback("Error: "+data['message'])}
		    })
		    .fail(function(jqXHR, textStatus, errorThrown) {
			  callback("Ajax Failed: '"+textStatus+"'  '"+errorThrown+"'");
            }) // correctly a comma as is part of list of atttributes
		  }
          //return "<img class='map' alt='" + text +
          //  "' src='http://maps.google.com/maps/api/staticmap?" +
          //  "zoom=11&size=350x350&maptype=terrain&sensor=false&center=" +
          //  text + "'>";
//		  return text;
//        }
        }
      else if ( element.is( "[exptype]" ) ) {
          var study = study_info(element.attr("exptype"));
   	      return '<b>'+study[1]+':</b> '+study[2]; //exptype contains the pmid of this study. [1]is expt type, [2] returns exp summary
        }
      else if ( element.is( "[study]" ) ) {
	      var study = study_info(element.attr("study"));
          return '<b>'+study[0]+':</b> '+study[3]; //study_col contains the pmid of this study. [0] returns short_name, [3] returns study details
        }
     //if ( element.is( "img" ) ) {
      //  return element.attr( "alt" );
      //}	
      }    // end of 'content:' can have a comma as is still part of list of atttributes
   });  // end of tooltip

/*
// Is initialised by the open() now in function plot(...)
    $(".fancybox").fancybox({
        preload: 0, // Number of gallary images to preload
        //minWidth: 600,
        //maxHeight: 500,
        aspectRatio: true,
        fitToView: false,
        arrows: false,
		closeEffect : 'none',
        helpers: {
            title: {
                type: 'inside'
            },
            overlay: {
                showEarly: false
            }
        }
    });
*/	

/*	
	$('[data-url]').qtip({
	content: {
	show: {
	event: 'mouseenter'
},
hide: {
	event: 'mouseleave'
}
Good - See: http://craigsworks.com/projects/forums/showthread.php?tid=3115

Alternatives to qtip2 are:
Tipped (has paid pro version):  http://www.tippedjs.com/documentation
Tool Tipster (looks good): http://iamceege.github.io/tooltipster/
	
            text: function(event, api) {
                $.ajax({
                    url: "{% url 'gendep:qtip' query='myurl' %}".replace('myurl', element.data('url')), // Use data-url attribute for the URL.
					{# As the url reverse is generated by python on server, and replace() is client side javascript. This replace() idea is from: http://stackoverflow.com/questions/1795701/django-reverse-for-javascript but https://github.com/ierror/django-js-reverse might be better if needed in several js functions. #}
					dataType: 'json',
                })
                .then(function(content) {
                    // Set the tooltip content upon successful retrieval
                    api.set('content.text', content);
                }, function(xhr, status, error) {
                    // Upon failure... set the tooltip content to the status and error value
                    api.set('content.text', status + ': ' + error);
                });
            return 'Loading...'; // Set some initial text
            }
        }
    });
*/

	
/*
        showNavArrows: false,
        autoSize: false,
        // autoResize: false,
        autoHeight: false,
        autoWidth: false,
        width: 900,
        height: 600,
        minWidth: 900,
        minHeight: 600,
        maxWidth: 900,
        maxHeight: 600,
*/
//=========================================================

/*
Could use a function for displaying the text, which would mean transferring less text to browser:
function formatTitle(title, currentArray, currentIndex, currentOpts) {
    return '<div id="tip7-title"><span><a href="javascript:;" onclick="$.fancybox.close();"><img src="/data/closelabel.gif" /></a></span>' + (title && title.length ? '<b>' + title + '</b>' : '' ) + 'Image ' + (currentIndex + 1) + ' of ' + currentArray.length + '</div>';
}

$(".tip7").fancybox({
	'showCloseButton'	: false,
	'titlePosition' 		: 'inside',
	'titleFormat'		: formatTitle
});
#tip7-title { text-align: left; }

#tip7-title b { display: block; margin-right: 80px; }

#tip7-title span { float: right; }
*/

// var result_start = "1"; // For now
    // From: http://www.tutorialspoint.com/jquery/jquery-ajax.htm
    $("#search_button").click(function(event){
var t0 = performance.now();
	
        if ( ! is_form_complete() ) {return false;}
		var search_by = $("#search_by").val();
        var gene = $("#gene").val();
		global_selected_gene = gene; // Store the selected driver/target as a global variable accessible to all functions as needed for the box plot() function.
        var histotype = $("#histotype").val();
        var study = $("#study").val();
        // result_start = "1";
        // var numrows = "25"; // Max rows to return for now
		$("#result_div").hide();
		$("#result_progress_div").html("<b>Fetching data from server....</b>");
		
		var url = global_url_for_dependency_search.replace('mysearchby',search_by).replace('mygene',gene).replace('myhistotype',histotype).replace('mystudy',study);
		
		//alert("Get from: "+url);
console.log("Setup: ",performance.now()-t0); t0 = performance.now();
		$.ajax({ // ajax call starts
            url: url,
            // data: 'button=' + $(this).val(), // Optional
            dataType: 'json', 
        })
        .done(function(data, textStatus, jqXHR) {
var timings = data['timings']; for (timing in timings) {console.log(timing);}

console.log("Ajax done: ",performance.now()-t0); t0 = performance.now();
		    // when you return the data from django, that is a success. "Error" in jQuery means a communication error, not a semantic error (eg. you need to return a 400/500 error code from django to have fail called).
			// use: data['success'] = False
			// Maybe need to use  json = JSON.parse(data) ? // which should Parses a string containing JSON and returns the de-serialized object.
			// data = $.parseJSON(data); // It works without this but just to be sure. This throws an error, maybe because: "The JSON standard does not permit "control characters" such as a tab or newline. An example like $.parseJSON( '{ "testing":"1\t2\n3" }' ) will throw an error in most implementations because the JavaScript parser converts the string's tab and newline escapes into literal tab and newline; doubling the backslashes like "1\\t2\\n3" yields expected results. This problem is often seen when injecting JSON into a JavaScript file from a server-side language such as PHP."
//console.log(data);
//id=data['gene_ids'];
//console.log(id);

//test='{"query_info":{"study_details":"<b>All studies</b>","study_pmid":"ALL_STUDIES", "gene_weblinks":"<a class=\'tip\' href=\'http://www.genecards.org/cgi-bin/carddisp.pl?gene=ERBB2\' target=\'_blank\'>GeneCards<span>Genecards</span></a>"}}';
//console.log($.parseJSON(test));
console.log("Json parsing: ",performance.now()-t0); t0 = performance.now();			
			$("#result_progress_div").html("Data received from server. Building results table ....");
  	        $("#welcome_div").hide(); // hide the welcome text...
console.log(data);
			//console.log(Object.keys(data).length);
			//console.log(sizeof(data)); // This sizeof() script slows loading.
			show_search_info(data);
		    t0 = populate_table(data,t0);
console.log("Table populated: ",performance.now()-t0); t0 = performance.now();
			$("#result_progress_div").html("Results table built.");


			
			$("#result_div").show();
console.log("Showed result div: ",performance.now()-t0); t0 = performance.now();			
			//$("#result_progress_div").html("");
			
		})
		.fail(function(jqXHR, textStatus, errorThrown) {  // See: https://github.com/jquery/api.jquery.com/issues/49
            // alert( "fail: '"+textStatus+"'  '"+errorThrown+"'");
			$("#result_progress_div").html("Ajax Failed: '"+textStatus+"'  '"+errorThrown+"'");
        });

        return false; // keeps the page from not refreshing 
    });
/*
       $.get(url, 
		      function(response, status, xhr) {if(status == "success") {}
*/
 
/*	
		 // If a "complete" callback is provided, it is executed after post-processing and HTML insertion has been performed.
		 // so load suits if data returned is HTML, but for other data 
        $("#result_div").load("{% url 'gendep:ajax_results_post' %}", 
	        //{"search_by":search_by, "gene":gene, "histotype":histotype, "study":study, "start":result_start, "numrows": numrows, 'csrfmiddlewaretoken': '{{ csrf_token }}',},
			{"search_by":search_by, "gene":gene, "histotype":histotype, "study":study, 'csrfmiddlewaretoken': '{{ csrf_token }}',},
            function(response, status, xhr){
                if(status == "success") {				
				    // alert("External content loaded successfully!");
	                $("#welcome_div").hide() // hide the welcome text...

					}
                if(status == "error")
                    alert("Error: " + xhr.status + ": " + xhr.status);
            }
	    ); // Appends the returned html data to this id.
	   // see: http://www.w3schools.com/jquery/ajax_load.asp and  https://api.jquery.com/load/	   
    });
*/	
    // Optionally add: $(document).ajaxSend(function (event, jqxhr, settings) {jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');}); // This way all AJAX requests will always get the csrftoken.  Or see: https://docs.djangoproject.com/en/1.9/ref/csrf/#ajax  


    $("#gene").autocomplete({
        // source: "/api/get_drivers/",   // to use Ajax call.
        source: driver_array,  // using the above array (but is reset to target_array if user selects search_by='target'.
        // It is possible to format the list items using the focus and select functions and html, etc:	
        minLength: 2,  // number of letters need to type for drop-down menu to appear.
        delay: 1,  // 1 millisecond delay.
        autoFocus: true,
    }).autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li>" )
            .append( "<a><b>" + item.value + "</b> | " + item.synonyms_spaced + '<br/><font size="-2">' + item.full_name + "</font></a>" )
            .appendTo( ul );
    };
	
	// From: http://stackoverflow.com/questions/13508166/jquery-autocomplete-enter-keypress-action-in-firefox-not-working-properly
	// Test this:
	$("#gene").keypress(function(e){
        if (e.which == 13) {
            //if(!isSelected) // could set to true if using the autrocomplete 'select' event
            //{
				 // alert("Enter key pressed - so can fire event now."); // window.location.href = "index.php/pages/no-results";
				 $("#search_button").click() // Start the search
            //}
            return false;
        }
    });
    // It is possible to add more autocomplete customisations, such as a combo-box button: http://jqueryui.com/autocomplete/#combobox	
});

{% comment %}
// ===== AJAX test start ===
/*
// Another method: from: http://jsfiddle.net/neerajkumarsingh/tqyn3/
$(document).ready(function() {
            $("#gene").click(function(event){
				
               $.getJSON('/jquery/result.json', function(jd) {
                  $('#stage').html('<p> Name: ' + jd.name + '</p>');
                  $('#stage').append('<p>Age : ' + jd.age+ '</p>');
                  $('#stage').append('<p> Sex: ' + jd.sex+ '</p>');
               });
					
            });
         });
*/
// ===========



/*
// Another method
var jsonData = '[{"rank":"9","content":"Alon","UID":"5"},{"rank":"6","content":"Tala","UID":"6"}]';

$.ajax({
    url: '/echo/json/',
    type: 'POST',
    data: {
        json: jsonData
    },
    success: function (response) {
        var trHTML = '';
        $.each(response, function (i, item) {
            trHTML += '<tr><td>' + item.rank + '</td><td>' + item.content + '</td><td>' + item.UID + '</td></tr>';
        });
        $('#records_table').append(trHTML);
    }
});
*/
// ===== AJAX test end ===
{% endcomment %}


</script>

<style type="text/css">
	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}
</style>
{% endblock %}
{% block content %}
<div id="welcome_div" {% if gene_name %}style="display:none"{% endif %} >
<p>Welcome to the cancer genetic dependencies database, which integrates results from loss-of-function <a href ="{% url 'gendep:studies' %}" title="Studies">screens</a> in cell line panels with mutational profiles to identify genetic dependencies associated with specific <a href="{% url 'gendep:drivers' %}" title="Driver genes">driver gene</a> mutations. These dependencies include oncogene addictions - e.g. cell lines with <i>ERBB2</i> amplification have an increased sensitivity to <i>ERBB2</i> inhibition - and non-oncogene addictions or synthetic lethalities - <i>e.g.</i> cell lines with <i>SMAD4</i> loss display an increased sensitivity to inhibition of multiple mitotic kinases. This resource currently includes dependencies identified using RNA interference approaches (siRNA and shRNA) but will be expanded in future to include results from CRISPR based screens.</p>

<p>Enter your search criteria below. (Select search type ("Driver gene" or "Target gene") then in the driver/target search box, typing two letters of a gene name will display a menu of matching gene names)</p>
</div>
<table align="center" id="searchbox_table">
<tr>
<td>Search filter:</td>
<td>
  <!-- label for="driver">Driver gene:</label-->
  <select name="search_by" id="search_by" style = "background-color: #8FD4EA;">
    <option value="driver" {% if search_by != "target" %}selected="selected"{% endif %}>Driver gene:</option>
    <option value="target" {% if search_by == "target" %}selected="selected"{% endif %}>Target/Dependency gene:</option> <!-- If select target need to retreive target gene list, and set result table header to 'Driver' instead of 'Dependency'-->
  </select>	
  <input name="gene" id="gene" placeholder="Gene name (eg. ERBB2)"  value="{{ gene_name }}"/>   {# value= ... is when directed to this page by link from the Drivers or Targets page #}
  <!-- Could add a button: https://jqueryui.com/autocomplete/#combobox -->
</td>

<td><label for="histotype">Tissue type:</label>
   <!-- Could alternatively use the jQuery SelectMenu widget: http://jqueryui.com/selectmenu/ -->
   <select name="histotype" id="histotype">
      <option value="ALL_HISTOTYPES">All tissues</option>
	{% for histotype in histotype_list %}
	  <option value="{{ histotype.0 }}"{% if histotype.0 == "PANCAN" %} selected="selected"{% endif %}>{{ histotype.1 }}</option>
	{% endfor %}
   </select>
</td>


<td><label for="study">Study:</label>
   <select name="study" id="study">
      <option value="ALL_STUDIES" selected="selected">All studies</option>
	{% for study in study_list %}
	  <option value="{{ study.pmid }}">{{ study.short_name }}</option>  {# Maybe add: study.title #}
	{% endfor %}
   </select>
</td>

<td><input type="submit" value="Search" id="search_button"/></td>
</tr>

</table>
{% endblock %}
{% block table %}
<br/>

<div id ="result_progress_div"></div>

<div id="result_div" style="display:none;"> 
<table align="center" id="info_result_table">
<tr><td>

<p><b><span id="gene_search_by"></span> gene: <span id="gene_name"></span></b>  &nbsp; &nbsp; &nbsp; <u>Synonyms:</u> <span id="gene_synonyms"></span></p>
<p><u>Gene Descripion:</u> <span id="gene_full_name"></span></p>
<p><u>External links:</u> <span id="gene_weblinks"></span></p>

<p id="result_info"></p>
<p style="font-size: 70%;">( Use scrollbar at right of this table to scroll down. Click column header to sort by that column. Click on the gene name in the depenency column to view the box-plot. Enter text into the search box at top of column to optionally filter these results. In the 'Effect size' column search box you can enter eg: ">75" to filter results.)</p>

<form id="download_csv_form" method="get" action="">
<p style="text-align:right; margin-top: 0; margin-bottom: 0;" >
<button id="download_csv_button" type="submit">Download as CSV file</button>
<a href="javascript:void(0);" id="string_link" onclick="show_stringdb_image();" target="_blank">String images for all rows</a>
</p>
</form>
{# <button type="button" name="Download" id="download_csv_button">Download as CSV file</button> #}

{# <a id="download_csv" href="">[Download tabbed file]</a> #}


{# <p style="color: green">This web interface is has been updated to make it faster and tips and boxplots should work correctly now.</p> #}

<table id="result_table" class="tablesorter dep_table" style="font-size:80%;">
<thead><tr>
  <th id="dependency_col_name">Dependency</th>
  <th class="filter-select" data-placeholder="&le; 0.05">P-value</th>
  <th data-placeholder=">= 65.0">Effect size (%)</th> <!-- class="filter-select" -->
  <th class="filter-select filter-onlyAvail">Tissue</th>
  <th class="filter-select filter-onlyAvail">Study</th>  
  <th class="filter-select filter-onlyAvail">Experiment Type</th>
  <th class="filter-select filter-onlyAvail"><a class="tipleft">String Interaction<span>Known functional interaction between driver and target/dependent gene, from string-db.org</span></a></th>  <!-- Add 'Any' as option for interaction -->
  <th>Inhibitors</th>
</tr></thead>
<tbody id="result_table_tbody">
</tbody>
</table>

</table>
</div>
{% endblock %}

{% comment %}
Old code:
</td></tr><tr><td align="center">
<p id="plot_title"></p>
<img id="plot_image"/>
<p id="plot_description" style="font-size: 95%;"></p>
{% endcomment %}


{% block links_bottom %}
<!-- or better to use defer or async keywords, but for IE<10 need window.onload.... : http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup -->
  
 {# Table sorter, and optional widgets: #}
  <!-- script type="text/javascript" src="{% static 'gendep/tablesorter/js/jquery.tablesorter.min.js' %}"></script -->
  <script type="text/javascript" src="{% static 'gendep/tablesorter/js/jquery.tablesorter.js' %}"></script>
  <script type="text/javascript" src="{% static 'gendep/tablesorter/js/jquery.tablesorter.widgets.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'gendep/tablesorter/js/widgets/widget-scroller.min.js' %}"></script>

  {# Tips2 - The qtip2 tooltips js & css file size can be reduced, see: http://qtip2.com/download #}
  <!-- script type="text/javascript" src="{ % static 'gendep/qtip/jquery.qtip.min.js' % }"></script -->
  {# Optional: imagesLoaded script to better support images inside your qtip tooltips: #}
  <!-- script type="text/javascript" src="{ % static 'gendep/qtip/imagesloaded.pkg.min.js' % }"></script -->
  
  {# Fancybox: #}
  <script type="text/javascript" src="{% static 'gendep/fancybox/source/jquery.fancybox.pack.js' %}"></script>
{% endblock %}