{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'gendep/style.css' %}" />

<h1>Database of Geneic Dependencies in Cancer</h1>
<p> &nbsp; </p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!--p style="text-align:center"-->

<form action="{% url 'gendep:results' %}" method="post">
{% csrf_token %}
   Search: &nbsp; 
   Driver gene name:
   <select name="search_driver_gene" id="search_driver_gene">
      <option value="" selected="selected"></option>
   {% for driver in driver_list.all %}
      <option value="{{driver.gene_name}}">{{driver.gene_name}}</option>
   {% endfor %}
   </select> &nbsp;
   
   Tissue type:
   <select name="search_histotype" id="search_histotype">
      <option value="PANCAN" selected="selected">PANCAN</option>
      <option value="BREAST">BREAST</option>
      <option value="OSTEOSARCOMA">OSTEOSARCOMA</option>
      <option value="OESOPHAGUS">OESOPHAGUS</option>
      <option value="LUNG">LUNG</option>
      <option value="OVARY">OVARY</option>
   </select> &nbsp;
    
   Study:
   <select name="search_study" id="search_study">
      <option value="Pending_0001" selected="selected">Pending_0001</option>
   </select> &nbsp;
    
   <input type="submit" value="Search" />
</form>

<!-- prepopulate search boxes with menu of options -->